/* @import "~bootstrap/scss/bootstrap"; */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");

*,
body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}

.footer-wrapper {
  background-color: #fcb72b;
  margin-top: 150px;
  padding: 110px 0;
  color: #fff;
}

.footer-left-pattern {
  position: absolute;
  left: 0;
  bottom: 0;
}

.pattern-2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}

.hompage-search {
  padding: 10px;
  color: #c2cfe0 !important;
  border: 0;
}

.hompage-search:focus {
  border: 0;
  outline: 0;
}

.hompage-search::placeholder {
  color: #c2cfe0 !important;
}
.hompage-icon {
  height: 20px;
  margin-left: 10px;
}

.rider-gif {
  display: flex;
  margin: 0 auto;
  width: 70%;
}

.small-push {
  padding-left: 50px !important;
}

.homepage-padding {
  padding: 150px 0;
}

.nav-wrapper {
  padding: 50px 0 0;
}

.nav-links {
  display: flex;
}

.nav-link {
  color: #7d7987;
  font-size: 18px;
  line-height: 23px;
}

.nav-link:last-child {
  padding-right: 0;
}

.nav-link:first-child {
  font-weight: bold;
  color: #233348;
  font-weight: 700;
}

.mobile-nav {
  display: none;
}

.nav-links-wrapper {
  background-color: #fcb72b;
  padding: 30px;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  position: absolute;
}

.test-x {
  color: red !important;
}

.test-x:hover {
  color: #fff !important;
  transition: ease-in-out 0.3s;
}

@media screen and (max-width: 1200px) {
  .web-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .small-push {
    padding-left: 0 !important;
  }
}
